.orderline-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFF;
  padding: 15px;
  border-radius: 20px;
  margin-top: 25px;
}

.orderline-title { 
  font-size: 26px;
  font-weight: 600;
  color: #565656;
  margin-top: 25px;
  margin-left: 30px;
}

.orderline-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 46px;
}

/* Order Card */
.order-card {
  border-radius: 10px;
  padding: 14px;
  border: 2px solid transparent;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 320px;
}

.card-process {
  background: #FFF3E0;
  border-color: #FFE0B2;
}

.card-done {
  background: #E8F5E9;
  border-color: #C8E6C9;
}

.card-pickup {
  background: #ECEFF1;
  border-color: #CFD8DC;
}

.card-takeaway {
  background: #c2d4d9;
  border-color: #E0E0E0;
}

/* Header */
.oc-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.oc-left {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.oc-id {
  font-size: 15px;
  font-weight: 700;
  color: black;
}

.oc-meta {
  font-size: 11px;
  color: black;
}

/* Badge */
.oc-badge {
  border-radius: 8px;
  padding: 5px 9px;
  font-size: 10px;
  font-weight: 600;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 1px;
  flex-shrink: 0;
}

.badge-process {
  background: #ffe3bc;
  color: #E65100;
}

.badge-done-green {
  background: #C8E6C9;
  color: #1B5E20;
}

.badge-pickup {
  background: #CFD8DC;
  color: #37474F;
}

.badge-takeaway {
  background: #E0E0E0;
  color: #616161;
}

.oc-badge-time {
  color: #000;
}

/* Items */
.oc-item-count {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.oc-items-box {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10px 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 12px;
  flex: 1;
  overflow-y: auto;
  align-content: flex-start;
}

.oc-item {
  font-size: 12px;
  color: black;
  width: calc(100% - 6px);
}

.oc-item span {
  color: black;
  margin-right: 4px;
}

/* Footer buttons */
.oc-footer {
  margin-top: auto;
  text-align: center;
}

.oc-processing-btn,
.oc-done-btn,
.oc-takeaway-btn {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 7px 16px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  width: auto;
}

.oc-processing-btn {
  background: #fdc474;
  color: #D87300;
}

.oc-takeaway-btn {
  background: #9baeb3;
  color: #3B413D;
}

.done-green {
  background: #31ff65;
  color: #0E912F;
}

.done-gray {
  background: #9baeb3;
  color: #3B413D;
}